.nope{
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1509749837427-ac94a2553d0e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.nontats
{
    background-image: url("https://img.freepik.com/premium-vector/city-traffic-tracking-flat-banner-vector-template-cartoon-mobile-phone-autobus-illustration-public-transportation-gps-navigation-bus-location-searching-app-online-transport-system_126283-2656.jpg?w=1060");
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid black;

}
.reality{
    width:600px;
    top:200px;
    right:500px;
    position: absolute;
    background-image: none;
    
}
.Search
{
    background-color: antiquewhite;
    height :900px;
}
.cancle
{
  background-color:#87ceeb; 
  height: 735px;
  position: absolute;
  right:0%;
  width:900px;
}
.backgroundimage{
    height: 560px;
    width: 800px;
    background-image: url("https://media.istockphoto.com/id/1213201847/photo/travel-canceled-red-stamp-on-boarding-pass-ticket.jpg?s=1024x1024&w=is&k=20&c=uFt9Z-qw_G3oDxVEWw4Po8-GMVaZpaWsaDbxwlnvakE=");
    background-repeat: no-repeat;
    background-size: cover;
    top: 13%;
    right: 41%;
    position: absolute;
 
}